$base-font-size: 16px;

$primary-font-color: #FFF;
$secondary-font-color: #9C9C9C;
$input-font-color: #3D96F4;

$primary-color: #0D0D11;
$secondary-color: #81818B;

$imgs-path: '../images';

html, body {
  font-size: $base-font-size;
}